
@{
    ViewData["Title"] = "Categories";
}

<h1>Categories</h1>


<section class="pt-8 pt-md-9">
    <div class="container">



        <!-- Categories -->
        <div class="row mt-6">




            <!-- Category -->
            <div class="col-md-3 mb-4">
                <a asp-controller="Categories" asp-action="DiffCategories" class="card bg-black text-light align-items-center text-decoration-none border-0 hover-lift-light py-4">

                    <span class="text-light  mt-3">
                        Science fiction
                    </span>
                </a>
            </div>

            <!-- Category -->
            <div class="col-md-3 mb-4">
                <a asp-controller="Categories" asp-action="DiffCategories" class="card bg-black align-items-center text-decoration-none border-0 hover-lift-light py-4">

                    <span class="text-light mt-3">
                        Romance
                    </span>
                </a>
            </div>

            <!-- Category -->
            <div class="col-md-3 mb-4">
                <a asp-controller="Categories" asp-action="DiffCategories" class="card bg-black align-items-center text-decoration-none border-0 hover-lift-light py-4">

                    <span class="text-light mt-3">
                        Crime fiction
                    </span>
                </a>
            </div>

            <!-- Category -->
            <div class="col-md-3 mb-4">
                <a asp-controller="Categories" asp-action="DiffCategories" class="card bg-black align-items-center text-decoration-none border-0 hover-lift-light py-4">

                    <span class="text-light mt-3">
                        Magical Realism
                    </span>
                </a>
            </div>

            <!-- Category -->
            <div class="col-md-3 mb-4">
                <a asp-controller="Categories" asp-action="DiffCategories" class="card bg-black align-items-center text-decoration-none border-0 hover-lift-light py-4">

                    <span class="text-light mt-3">
                        Fantasy
                    </span>
                </a>
            </div>

            <!-- Category -->
            <div class="col-md-3 mb-4">
                <a asp-controller="Categories" asp-action="DiffCategories" class="card bg-black align-items-center text-decoration-none border-0 hover-lift-light py-4">

                    <span class="text-light mt-3">
                        AutobioGraphy
                    </span>
                </a>
            </div>

            <div class="col-md-3 mb-4">
                <a asp-controller="Categories" asp-action="DiffCategories" class="card bg-black align-items-center text-decoration-none border-0 hover-lift-light py-4">

                    <span class="text-light mt-3">
                        History
                    </span>
                </a>
            </div>

            <div class="col-md-3 mb-4">
                <a asp-controller="Home" asp-action="DiffCategories" class="card bg-black align-items-center text-decoration-none border-0 hover-lift-light py-4">

                    <span class="text-light mt-3">
                        Compitive Exam
                    </span>
                </a>
            </div>
        </div>
    </div>
</section>