@{
    ViewData["Title"] = "Home Page";
}


<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" width="400px" height="420px" src="~/images/Brene Brown book.jpeg">
                <div class="card-body">
                    <h5 class="card-title">Physics</h5>
                    <p class="card-text">₹ 500</p>
                    <a asp-controller="Home" asp-action="Details" class="btn btn-primary">More Details</a>
                    <a href="#" class="btn btn-primary">Add To Cart</a>
                    
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" width="400px" height="420px" src="~/images/Emily herny book.jpg">
                <div class="card-body">
                    <h5 class="card-title">Physics</h5>
                    <p class="card-text">₹ 700</p>
                    <a asp-controller="Home" asp-action="Details" class="btn btn-primary">More Details</a>
                    <a href="#" class="btn btn-primary">Add To Cart</a>
                    
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" width="400px" height="420px" src="~/images/Jason Rekulak book.jpeg">
                <div class="card-body">
                    <h5 class="card-title">Porsche 911-GT3</h5>
                    <p class="card-text">₹ 400</p>
                    <a asp-controller="Home" asp-action="Details" class="btn btn-primary">More Details</a>
                    <a href="#" class="btn btn-primary">Add To Cart</a>
                    
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" width="400px" height="420px" src="~/images/Jennette McCurdy book.jpg">
                <div class="card-body">
                    <h5 class="card-title">Ferrari SF-90</h5>
                    <p class="card-text">₹ 800</p>
                    <a asp-controller="Home" asp-action="Details" class="btn btn-primary">More Details</a>
                    <a href="#" class="btn btn-primary">Add To Cart</a>
                    
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" width="400px" height="420px" src="~/images/Sarahaj mass book.jpeg" alt="Hennessey Venom F5">
                <div class="card-body">
                    <h5 class="card-title">Koenigsegg Jesko</h5>
                    <p class="card-text">₹ 900</p>
                    <a asp-controller="Home" asp-action="Details" class="btn btn-primary">More Details</a>
                    <a href="#" class="btn btn-primary">Add To Cart</a>
                    
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" width="400px" height="420px" src="~/images/Taylor jenkins reid book.jpg">
                <div class="card-body">
                    <h5 class="card-title">Mercedes AMG GT</h5>
                    <p class="card-text">₹ 300</p>
                    <a asp-controller="Home" asp-action="Details" class="btn btn-primary">More Details</a>
                    <a href="#" class="btn btn-primary">Add To Cart</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" width="400px" height="420px" src="~/images/The maid book.jpeg">
                <div class="card-body">
                    <h5 class="card-title">BMW M4 GTS</h5>
                    <p class="card-text">₹ 250</p>
                    <a asp-controller="Home" asp-action="Details" class="btn btn-primary">More Details</a>
                    <a href="#" class="btn btn-primary">Add To Cart</a>
                   
                    
                    
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" width="400px" height="420px" src="~/images/The maid book.jpeg">
                <div class="card-body">
                    <h5 class="card-title">Henessy Venom F5</h5>
                    <p class="card-text">₹ 800</p>
                    <a asp-controller="Home" asp-action="Details" class="btn btn-primary">Book Now</a>
                    <a href="#" class="btn btn-primary">More Details</a>
                </div>
            </div>
        </div>
    </div>
</div>